.Visualizer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  height: 450px;
  overflow: hidden;
  border-radius: 0.25rem;
  background-color: black;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
}
