.Visualizer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  overflow: hidden;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid black;

  background-color: black;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);

  &_16x9 {
    width: 802px;
    height: 452px;
  }
  &_5x5 {
    width: 252px;
    height: 252px;
  }
  &_10x2 {
    width: 502px;
    height: 102px;
  }
}
